<a href="https://colab.research.google.com/github/praveenmaripeti/Data-Cleaning-Practical-Examples/blob/master/Data_Cleaning_Exercise_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data cleaning #Python #Google Colaboratory


*   Setting index
*   Converting data types

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import pandas as pd
import numpy as np

In [19]:
file_path = 'drive/My Drive/'
data = pd.read_csv(file_path + 'dataset.csv')

In [20]:
data.head()

   id         Full Name  ...        Income            Income1
0   1       Salim Pound  ...  46476.638080  $46476.6380809961
1   2    Madelene Lutas  ...  54174.687950  $54174.6879482406
2   3  Dolli Swanbourne  ...   5449.873348  $5449.87334818567
3   4   Graeme Croisier  ...  46784.630880  $46784.6308786279
4   5    Jillana Physic  ...  57486.495560  $57486.4955595568

[5 rows x 13 columns]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1000 non-null   int64
 1   Full Name      1000 non-null   object
 2   Date of Birth  1000 non-null   object
 3   email          1000 non-null   object
 4   gender         1000 non-null   object
 5   Job            1000 non-null   object
 6   Company        1000 non-null   object
 7   Country        998 non-null    object
 8   Salary         1000 non-null   object
 9   Phone          1000 non-null   object
 10  Quote          1000 non-null   object
 11  Income         995 non-null    float64
 12  Income1        1000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 101.7+ KB

In [22]:
data.id.is_unique

True


*   Only a few data points are missing in Country and Income columns; other columns have no missing data
*   Data type of most of the columns is object - it has to be converted to appropriate dtype in some columns such as Date of birth, Salary etc
*   id is unique to each row, hence it can be used as index

In [23]:
data.columns = data.columns.str.lower()
data.columns = data.columns.str.replace(' ', '_')  
data.set_index('id', inplace=True)

In [24]:
data['date_of_birth'] = pd.to_datetime(data['date_of_birth'], infer_datetime_format=True)

In [25]:
cache = []
for i in range(data.shape[0]):
  l = len(data.loc[i+1, 'full_name'].split())
  cache.append(l)
set(cache)

{2, 3, 4}


*   Names have 2, 3 or 4 parts, hence it is not wise to split full name into first and last names 

*   
Columns 'income' and 'income1' both seem to contain same values; if so remove one column

In [26]:
data['income1'] = data['income1'].str.replace('$', '0')
data['income1'] = data['income1'].astype(np.float64)
data['income'] = data['income'].apply(lambda x: round(x, 3))
data['income1'] = data['income1'].apply(lambda x: round(x, 3))

In [27]:
data['income1'] == data['income']

id
1       True
2       True
3       True
4       True
5       True
        ...
996     True
997     True
998     True
999     True
1000    True
Length: 1000, dtype: bool

In [28]:
data.head()

           full_name date_of_birth  ...     income    income1
id                                  ...
1        Salim Pound    2018-02-12  ...  46476.638  46476.638
2     Madelene Lutas    2018-09-20  ...  54174.688  54174.688
3   Dolli Swanbourne    2018-11-18  ...   5449.873   5449.873
4    Graeme Croisier    2018-09-29  ...  46784.631  46784.631
5     Jillana Physic    2018-04-19  ...  57486.496  57486.496

[5 rows x 12 columns]

In [29]:
data.drop('income1', axis=1, inplace=True)

In [30]:
data.head()

           full_name  ...     income
id                    ...
1        Salim Pound  ...  46476.638
2     Madelene Lutas  ...  54174.688
3   Dolli Swanbourne  ...   5449.873
4    Graeme Croisier  ...  46784.631
5     Jillana Physic  ...  57486.496

[5 rows x 11 columns]